<div class="menu-footer small">
  <span>Palex ©</span>
  <div>
    <a href="http://jetbrains-software.office.palex:8090/confluence/display/TMS/Help" target="_blank" px-tooltip tooltip-text="ctrl.Tooltip.Help">Help</a> |
    <a href="https://redmine.office.palex/projects/tms/issues" target="_blank" px-tooltip tooltip-text="ctrl.Tooltip.Feedback">Feedback</a> |
    <a href="mailto: tms@palex.ru?subject=[TMS]:" px-tooltip tooltip-text="ctrl.Tooltip.Support">Support</a>
  </div>
  <div>
    <span class="small">{{Info.VCS}}</span>
  </div>
</div>
