<div>
  <div class="header">
    <span class="header-title">Not found</span>
    <span class="header-description">These aren't the droids you're looking for.</span>
  </div>

  <div class="content">
  </div>
</div>
