<div class="navigation">
  <nav>
    <dl routerLinkActive="active">
      <dt routerLinkActive="active"><a [routerLink]="'/home'">My dashboard</a></dt>
    </dl>
    <dl>
      <dt><a [routerLink]="'/projects'">Projects</a></dt>
    </dl>
    <dl>
      <dt class="collapsed" data-toggle="collapse" data-target="#clients_dd"><a class="clickable_link">Clients</a></dt>
      <div id="clients_dd" class="collapse">
        <dd>
          <a routerLink="/clients">Management</a>
          <a routerLink="/clientsInvoicing">Invoicing</a>
          <a routerLink="/clientsPayment">Payment</a>
        </dd>
      </div>
    </dl>

    <dl>
      <dt class="collapsed" data-toggle="collapse" data-target="#contractors_dd"><a>Contractors</a></dt>
      <div id="contractors_dd" class="collapse">
        <dd>
          <a>Management</a>
          <a>Invoicing</a>
          <a>Payment</a>
        </dd>
      </div>
    </dl>

    <dl routerLinkActive="active">
      <dt routerLinkActive="active"><a routerLink="/employees">Employees</a></dt>
    </dl>
  </nav>
</div>
