<mat-form-field class="example-full-width">
  {{filteredList|json}}
  <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredList | async" [value]="item.name">
      <span>{{ item.name }}</span> |
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
