<div>
  <div class="header">
    <span class="header-title">Forbidden</span>
    <span class="header-description">You are not allowed to see droids you're looking for.</span>
  </div>

  <div class="content">
  </div>
</div>
