<div>
  <div class="header">
    <span class="header-title">Goals</span>
  </div>

  <div class="content">
    <div class="panel panel-default panel-transparent">
      <div class="panel-body">

        <div class="flex">
          <button class="btn btn-raised btn-primary flex-item-centered flex-item-right" (click)="createGoal()">
            Create Goal
          </button>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Number</th>
            <th class="col-md-8">Name</th>
            <th class="col-md-2">Customer</th>
            <th class="col-md-2">Assignee</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let goal of Goals| async">
            <td>

            </td>
            <td><a >{{goal.code}}</a></td>
            <td><a >{{goal.name}}</a></td>
            <td><a >{{goal.customer.name}}</a></td>
            <td><a >{{goal.assignee.name}}</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
