<div id="main-container" class="main-container">
  <!-- Left menu -->
  <px-left-menu></px-left-menu>

  <!--UI view container-->
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>

