<div class="user-card relative">
  <div class="flex">
    <div class="flex-inline flex-inline-sm">
      <a>
        <i *ngIf="(User | async)?.photo.length<=0" class="material-icons large">account_circle</i>

        <img
          *ngIf="(User | async)?.photo.length>0"
          [src]="'data:image/png;base64,' + (User|async)?.photo"
          alt="{{User.Name}}"
          class="img-circle"/>
      </a>
      <div>
        <span class="medium block">{{(User| async)?.name}}</span>
        <span class="small">{{(User| async)?.description}}</span>
      </div>
    </div>
  </div>
</div>
