
<form (ngSubmit)="createGoal()" #createGoalForm="ngForm">
  <h2 mat-dialog-title>Create Goal</h2>
  <div class="create-goal-form">

    <mat-form-field >
      <input matInput placeholder="Name" [(ngModel)]="Goal.name" name="Name" minlength="4" required/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Assignee" [(ngModel)]="Goal.assignee" name="Assignee" required>
        <mat-option *ngFor="let assignee of InHouses| async" [value]="assignee">
          {{ assignee.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Customer" [(ngModel)]="Goal.customer" name="Customer" required>
        <mat-option *ngFor="let customer of InHouses| async" [value]="customer">
          {{ customer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="createGoalForm.form.invalid">
      Create
    </button>
  </div>
</form>
