<form (ngSubmit)="createProject()" #createProjectForm="ngForm">
  <h2 mat-dialog-title>Create Project</h2>
  <div class="create-project-form">
    <mat-form-field>
      <mat-select placeholder="Goal" [(ngModel)]="Project.goal" name="Goal" required>
        <mat-option *ngFor="let goal of Goals| async" [value]="goal">
          {{ goal.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="Project.name" name="Name" minlength="4" required/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Assignee" [(ngModel)]="Project.assignee" name="Assignee" required>
        <mat-option *ngFor="let assignee of Assignees| async" [value]="assignee">
          {{ assignee.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Customer" [(ngModel)]="Project.customer"
                  (ngModelChange)="loadClientManagers()" name="Customer" required>
        <mat-option *ngFor="let customer of Customers| async" [value]="customer">
          {{ customer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Account" [(ngModel)]="Project.account" name="Account" required>
        <mat-option *ngFor="let account of Accounts| async" [value]="account">
          {{ account.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div [hidden]="!((ClientManagers| async)?.length > 0)">
      <mat-form-field>
        <mat-select placeholder="Client Manager" [(ngModel)]="Project.clientManager" name="clientManager">
          <mat-option *ngFor="let manager of ClientManagers| async" [value]="manager">
            {{ manager.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="createProjectForm.form.invalid">
      Create
    </button>
  </div>
</form>
