<form (ngSubmit)="registerClient()" #registerClientForm="ngForm" >
  <h2 mat-dialog-title>Add new client</h2>
  <div class="register-client-form">
    <mat-form-field>
      <input matInput placeholder="Full name" [(ngModel)]="Client.fullName" name="FullName" minlength="4" required/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Display name" [(ngModel)]="Client.name" name="DisplayName" minlength="4" required/>
    </mat-form-field>
      <mat-checkbox [(ngModel)]="Client.isLsp" name="isLsp">is LSP</mat-checkbox>
  </div>


  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="registerClientForm.form.invalid">
      Register
    </button>
  </div>
</form>
