<div>
  <div class="header">
    <px-drop-down-header-menu>
      <li><a href="">Change project name</a></li>
      <li><a href="">Change
        goal</a></li>
      <li class="divider"></li>
      <li><a href="">Create subtask</a></li>
      <li><a href="">Show task tree</a>
      </li>
      <li class="divider"></li>
      <li><a href=""> client PM</a>
      </li>
      <li><a href="">Change assignee</a></li>
      <li class="divider"></li>
      <li><a href="">View spent time</a></li>
    </px-drop-down-header-menu>

    <span class="header-title">{{ClientDashboard?.info?.displayName}}</span>
    <span class="header-description">{{ClientDashboard?.info?.fullName}}</span>
  </div>

  <div class="content">

  </div>

</div>
