<div class="dropdown dropdown-header">
  <a class="dropdown-toggle" data-toggle="dropdown" href="" data-target="#">
    <i class="material-icons">more_vert</i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" >
    <ng-content></ng-content>
  </ul>
</div>
