<div>
  <div class="header">
    <span class="header-title">Projects</span>
  </div>

  <div class="content">
    <div class="panel panel-default panel-transparent">
      <div class="panel-body">

        <div class="flex">
          <div class="flex panel-filter">
            <i class="material-icons translucent flex-item-centered">search</i>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Number" [(ngModel)]="Filter.code" (ngModelChange)="Search()"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="Filter.name" (ngModelChange)="Search()"/>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Status" [(ngModel)]="Filter.status" (ngModelChange)="Search()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let status of ProjectStatuses | pxEnum" [value]="status.key">
                  {{ status.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Client" [(ngModel)]="Filter.customer" (ngModelChange)="Search()"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Account" [(ngModel)]="Filter.account" (ngModelChange)="Search()"/>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Assignee" [(ngModel)]="Filter.assignee" (ngModelChange)="Search()"/>
            </mat-form-field>

            <a (click)="resetFilterClick()" style="cursor: pointer"
               class="flex-item-centered">
              <i class="material-icons translucent">clear</i>
            </a>
          </div>
          <button class="btn btn-raised btn-primary flex-item-centered flex-item-right" (click)="createProject()">
            Create Project
          </button>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Number</th>
            <th class="col-md-5">Name</th>
            <th class="col-md-1">Created</th>
            <th>Deadline</th>
            <th class="col-md-2">Client</th>
            <th class="col-md-2">Account</th>
            <th class="col-md-2">Assignee (PM)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of Projects">
            <td>
              <px-project-status-marker [Code]="project.status"></px-project-status-marker>
            </td>
            <td>
              <a>{{project.code}}</a>
            </td>
            <td>
              <a><i class="material-icons small">sort</i></a>
              <a [routerLink]="['/project', project.id]">{{project.name}}</a>
            </td>
            <td class="text-nowrap">
              {{project.created| pxDate}}
            </td>
            <td class="text-nowrap">
              <span>{{project.deadline | pxDate}}</span>
            </td>
            <td><a>{{project?.customer?.name}}</a></td>
            <td>
              <span>{{project?.account?.name}}</span>
            </td>
            <td><a>{{project?.assignee?.name}}</a></td>
          </tr>
          </tbody>
        </table>

        <div class="flex">
          <mat-paginator [length]="listLength"
                         [pageSize]="Filter.itemsPerPage"
                         [pageSizeOptions]="[25, 50]"
                         (page)="getServerData($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>
