<div class="dropdown dropdown-corner">
  <a class="dropdown-toggle" data-toggle="dropdown" href="" data-target="#">
    <i class="material-icons">more_vert</i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right"></ul>
  <ng-content></ng-content>
</div>
