<div>
  <div class="header">
    <px-drop-down-header-menu>
      <li><a href="">Change project name</a></li>
      <li><a href="">Change
        goal</a></li>
      <li class="divider"></li>
      <li><a href="">Create subtask</a></li>
      <li><a href="">Show task tree</a>
      </li>
      <li class="divider"></li>
      <li><a href=""> client PM</a>
      </li>
      <li><a href="">Change assignee</a></li>
      <li class="divider"></li>
      <li><a href="">View spent time</a></li>
    </px-drop-down-header-menu>
    <span class="header-title">
            Project: {{ProjectDashboard?.project?.number?ProjectDashboard?.project.number + ' - ':'' }}{{ProjectDashboard?.project?.name}}
    </span>
    <span class="header-description">
            Goal: <a>{{ProjectDashboard?.goal?.name }}</a>
    </span>
  </div>
  <div class="breadcrumb-main-container">
    <div class="breadcrumb-fixed-container">
      <ul class="breadcrumb page-breadcrumb">
        <li class="active">Project</li>
        <li><a href="">
          <i class="material-icons small">sort</i></a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="content-left">

    </div>

    <div class="content-right">

    </div>
  </div>

</div>


