<div>
  <div class="header">
    <span class="header-title">Clients</span>
  </div>

  <div class="content">
    <div class="panel panel-default panel-transparent">
      <div class="panel-body">

        <!-- Filters -->
        <div class="flex">
          <div class="flex panel-filter">
            <i class="material-icons translucent flex-item-centered">search</i>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="Filter.name" (ngModelChange)="Search()"/>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Country" [(ngModel)]="Filter.country" (ngModelChange)="Search()"/>
            </mat-form-field>

            <a class="flex-item-centered clickable_link" (click)="resetFilterClick()"><i class="material-icons translucent">clear</i></a>
          </div>

          <button (click)="registerClient()" class="btn btn-raised btn-primary flex-item-centered flex-item-right">
            Add Client
          </button>
        </div>

        <!-- Client list -->
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th class="col-md-8">Name</th>
            <th class="col-md-4">Country (legal)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of Clients">
            <td>
              <px-client-marker *ngIf="client.lsp"></px-client-marker>
            </td>
            <td><a [routerLink]="['/client', client.id]">{{client.name}}</a></td>
            <td>{{client.country}}</td>
          </tr>
          </tbody>
        </table>

        <div class="flex">
          <mat-paginator [length]="listLength"
                         [pageSize]="Filter.itemsPerPage"
                         [pageSizeOptions]="[25, 50]"
                         (page)="getServerData($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
